---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - monitoring.whatap.com
  resources:
  - whatapagents
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.whatap.com
  resources:
  - whatapagents/finalizers
  verbs:
  - update
- apiGroups:
  - monitoring.whatap.com
  resources:
  - whatapagents/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - monitoring.whatap.com
  resources:
  - whatappodmonitors
  - whatapservicemonitors
  verbs:
  - get
  - list
  - watch
